/* Ordem BOX

    Margin  
    Border
    Padding
    Content
*/

/* border-width
       border-color
       border-style 
    */

    /* 
        fant-family
        font-size
        font-style
        font-weight
        text-transform
        text-decoration
    */

    /* 
        ul, ol { list-style-type  }
    */

    /* width
        height
        max-width
        max-height

        margin

        text-align
    */
body {
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50px
}

#title,
.subtitle,
.post-title {
    color: #505050;
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration:line-through;
    color: #505050
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: white;
    padding: 15px 15px 15px 15px;
    border: 3px solid #505050;
    margin-bottom: 10px;
}

.post-contet {
    margin: 0;
    margin-bottom: 15px;
    border-radius: 50px;
    text-transform: capitalize;
    text-align: justify;
}

.post-img {
    margin-bottom: 60px;
    width: 100%;
}

.contacts-list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts-list li a {
    text-decoration: none;
}